# Python Cheatsheet 10 - 12

## Contents  
10. <a href='#section10'>Working with datetime</a>
11. <a href='#section11'>NumPy</a>
12. <a href='#section12'>Pandas</a>

<a id='section10'></a>

## 10. Working with datetime 

A `datetime` module in Python can be used to work with date objects.

In [ ]:
import datetime

x = datetime.datetime.now()

print(x)
print(x.year)
print(x.strftime("%A"))
print(x.strftime("%B"))
print(x.strftime("%d"))
print(x.strftime("%H:%M:%S %p"))

<a id='section11'></a>

## 11. NumPy

NumPy is the fundamental package for scientific computing with Python. Among other things, it contains:

- Powerful N-dimensional array object
- Sophisticated (broadcasting) functions
- Tools for integrating C/C++ and Fortran code
- Useful linear algebra, Fourier transform, and random number capabilities

In [ ]:
# Install NumPy using pip
!pip install numpy

In [ ]:
# Import NumPy module
import numpy as np

### Inspecting your array

In [ ]:
# Create array
a = np.arange(15).reshape(3, 5) # Create array with range 0-14 in 3 by 5 dimension
b = np.zeros((3,5)) # Create array with zeroes
c = np.ones( (2,3,4), dtype=np.int16 ) # Createarray with ones and defining data types
d = np.ones((3,5))

In [ ]:
a.shape # Array dimension

In [ ]:
len(b)# Length of array

In [ ]:
c.ndim # Number of array dimensions

In [ ]:
a.size # Number of array elements

In [ ]:
b.dtype # Data type of array elements

In [ ]:
c.dtype.name # Name of data type

In [ ]:
c.astype(float) # Convert an array type to a different type

### Basic math operations

In [ ]:
# Create array
a = np.arange(15).reshape(3, 5) # Create array with range 0-14 in 3 by 5 dimension
b = np.zeros((3,5)) # Create array with zeroes
c = np.ones( (2,3,4), dtype=np.int16 ) # Createarray with ones and defining data types
d = np.ones((3,5))

In [ ]:
np.add(a,b) # Addition

In [ ]:
np.subtract(a,b) # Substraction

In [ ]:
np.divide(a,d) # Division

In [ ]:
np.multiply(a,d) # Multiplication

In [ ]:
np.array_equal(a,b) # Comparison - arraywise

### Aggregate functions

In [ ]:
# Create array
a = np.arange(15).reshape(3, 5) # Create array with range 0-14 in 3 by 5 dimension
b = np.zeros((3,5)) # Create array with zeroes
c = np.ones( (2,3,4), dtype=np.int16 ) # Createarray with ones and defining data types
d = np.ones((3,5))

In [ ]:
a.sum() # Array-wise sum

In [ ]:
a.min() # Array-wise min value

In [ ]:
a.mean() # Array-wise mean

In [ ]:
a.max(axis=0) # Max value of array row

In [ ]:
np.std(a) # Standard deviation

### Subsetting, slicing, and indexing

In [ ]:
# Create array
a = np.arange(15).reshape(3, 5) # Create array with range 0-14 in 3 by 5 dimension
b = np.zeros((3,5)) # Create array with zeroes
c = np.ones( (2,3,4), dtype=np.int16 ) # Createarray with ones and defining data types
d = np.ones((3,5))

In [ ]:
a[1,2] # Select element of row 1 and column 2

In [ ]:
a[0:2] # Select items on index 0 and 1

In [ ]:
a[:1] # Select all items at row 0

In [ ]:
a[-1:] # Select all items from last row

In [ ]:
a[a<2] # Select elements from 'a' that are less than 2

### Array manipulation

In [ ]:
# Create array
a = np.arange(15).reshape(3, 5) # Create array with range 0-14 in 3 by 5 dimension
b = np.zeros((3,5)) # Create array with zeroes
c = np.ones( (2,3,4), dtype=np.int16 ) # Createarray with ones and defining data types
d = np.ones((3,5))

In [ ]:
np.transpose(a) # Transpose array 'a'

In [ ]:
a.ravel() # Flatten the array

In [ ]:
a.reshape(5,-2) # Reshape but don't change the data

In [ ]:
np.append(a,b) # Append items to the array

In [ ]:
np.concatenate((a,d), axis=0) # Concatenate arrays

In [ ]:
np.vsplit(a,3) # Split array vertically at 3rd index

In [ ]:
np.hsplit(a,5) # Split array horizontally at 5th index

<a id='section12'></a>

## 12. Pandas

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Pandas DataFrames are the most widely used in-memory representation of complex data collections within Python.

In [ ]:
# Install pandas, xlrd, and openpyxl using pip
!pip install pandas
!pip install xlrd openpyxl

In [ ]:
# Import NumPy and Pandas modules
import numpy as np
import pandas as pd

In [ ]:
# Sample dataframe df
df = pd.DataFrame({'num_legs': [2, 4, np.nan, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, np.nan, 1, 8]},
                   index=['falcon', 'dog', 'spider', 'fish'])
df # Display dataframe df

In [ ]:
# Another sample dataframe df1 - using NumPy array with datetime index and labeled column
df1 = pd.date_range('20130101', periods=6)
df1 = pd.DataFrame(np.random.randn(6, 4), index=df1, columns=list('ABCD'))
df1 # Display dataframe df1

### Viewing data

In [ ]:
df1 = pd.date_range('20130101', periods=6)
df1 = pd.DataFrame(np.random.randn(6, 4), index=df1, columns=list('ABCD'))

In [ ]:
df1.head(2) # View top data

In [ ]:
df1.tail(2) # View bottom data

In [ ]:
df1.index # Display index column

In [ ]:
df1.dtypes # Inspect datatypes

In [ ]:
df1.describe() # Display quick statistics summary of data

### Subsetting, slicing, and indexing

In [ ]:
df1 = pd.date_range('20130101', periods=6)
df1 = pd.DataFrame(np.random.randn(6, 4), index=df1, columns=list('ABCD'))

In [ ]:
df1.T # Transpose data

In [ ]:
df1.sort_index(axis=1, ascending=False) # Sort by an axis

In [ ]:
df1.sort_values(by='B') # Sort by values

In [ ]:
df1['A'] # Select column A

In [ ]:
df1[0:3] # Select index 0 to 2

In [ ]:
df1['20130102':'20130104'] # Select from index matching the values

In [ ]:
df1.loc[:, ['A', 'B']] # Select on a multi-axis by label

In [ ]:
df1.iloc[3] # Select via the position of the passed integers

In [ ]:
df1[df1 > 0] # Select values from a DataFrame where a boolean condition is met

In [ ]:
df2 = df1.copy() # Copy the df1 dataset to df2
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three'] # Add column E with value
df2[df2['E'].isin(['two', 'four'])] # Use isin method for filtering

### Missing data

Pandas primarily uses the value `np.nan` to represent missing data. It is not included in computations by default.

In [ ]:
df = pd.DataFrame({'num_legs': [2, 4, np.nan, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, np.nan, 1, 8]},
                   index=['falcon', 'dog', 'spider', 'fish'])

In [ ]:
df.dropna(how='any') # Drop any rows that have missing data

In [ ]:
df.dropna(how='any', axis=1) # Drop any columns that have missing data

In [ ]:
df.fillna(value=5) # Fill missing data with value 5

In [ ]:
pd.isna(df) # To get boolean mask where data is missing

### File handling

In [ ]:
df = pd.DataFrame({'num_legs': [2, 4, np.nan, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [10, np.nan, 1, 8]},
                   index=['falcon', 'dog', 'spider', 'fish'])

In [ ]:
df.to_csv('foo.csv') # Write to CSV file

In [ ]:
pd.read_csv('foo.csv') # Read from CSV file

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1') # Write to Microsoft Excel file

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA']) # Read from Microsoft Excel file

### Plotting

In [ ]:
# Install Matplotlib using pip
!pip install matplotlib

In [ ]:
from matplotlib import pyplot as plt # Import Matplotlib module

In [ ]:
# Generate random time-series data
ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000)) 
ts.head()

In [ ]:
ts = ts.cumsum()
ts.plot() # Plot graph
plt.show()

In [ ]:
# On a DataFrame, the plot() method is convenient to plot all of the columns with labels
df4 = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df4 = df4.cumsum()
df4.head()

In [ ]:
df4.plot()
plt.show()